body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita que el body tenga una barra de desplazamiento */
}

.App {
  text-align: center;
  min-height: 100vh; /* Asegura que la aplicación ocupe al menos la altura de la ventana */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #f5f5dc, #d8bfd8); /* Beige to lilac gradient */
  position: relative;
  overflow-y: auto; /* Permite que la aplicación tenga una barra de desplazamiento vertical */
  max-width: 100vw; /* Asegura que la aplicación no exceda el ancho de la ventana */
}

.custom-message {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: #8a2c77; /* Deep lilac color */
  z-index: 1;
}

.App-header {
  z-index: 1;
  margin-bottom: 20px;
}

.audio-player {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 300px; /* Width of the player */
  padding: 10px;
  box-sizing: border-box; /* Ensures padding does not affect width */
  transition: background 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
  background: linear-gradient(to bottom, #d8bfd8, #f5f5dc); /* Beige to lilac gradient */
  margin-bottom: 20px; /* Add margin to separate from images */
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 20px; /* Margin to separate from the button */
  width: 80%;
  max-width: 800px;
}

.image-wrapper {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background-color: #fff;
  border: 2px solid #8a2c77; /* Border color for the image containers */
  border-radius: 15px; /* Round the borders */
  overflow: hidden;
}

.image-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 5s ease-in-out; /* Smooth transition for fadeIn and fadeOut */
  border-radius: 15px; /* Ensure images also have rounded borders */
}

.image-item.show {
  opacity: 1;
}

.image-item.hide {
  opacity: 0;
}

/* New class for the first image */
.image-item.show-first {
  opacity: 1;
  transition: opacity 1s ease-in-out; /* Transition for the first image */
}

.envelope-button {
  background-image: url('envelope-icon.png'); /* Path to the envelope icon */
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 40px;
  border: none; /* Sin borde */
  cursor: pointer;
  margin-top: 20px; /* Margin from image grid */
  margin-bottom: 20px; /* Margin to separate from the end of the page */
  outline: none; /* Sin borde de enfoque */
  background-color: transparent; /* Fondo transparente */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.message-box {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 80%;
  animation: fadeIn 1s forwards, typing 3s steps(40, end) 1s 1 normal both;
  white-space: pre-line; /* Mantiene los saltos de línea en el texto */
  overflow: hidden;
  border-right: 0.15em solid orange; 
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

.birthday-message {
  font-size: 20px;
  color: #8a2c77; /* Deep lilac color */
}

.close-button {
  background-color: #8a2c77;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
}

/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de la pista de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background: #8a2c77; /* Color del "thumb" de la barra de desplazamiento */
  border-radius: 10px; /* Bordes redondeados para el "thumb" */
}

::-webkit-scrollbar-thumb:hover {
  background: #6a1f4b; /* Color del "thumb" cuando se pasa el ratón por encima */
}
